<doctype html
html(lang="en")
    head
        include partials/headers
    body 
        header.barra
            h1 UpTask - Administrador de Proyectos
            a(href="/auth/signoff") Cerrar Sesión
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
                        span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
            block contenido

        script(src="/dist/bundle.js")  
            
    